
@tailwind base;
@tailwind components;

.gradient{
  background: linear-gradient(180deg, #66D9FF 51.04%, #00ACE6 100%);
}

.dropdown-content {
  display: none;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.second-arrow{
  display: none
}
.arrow-link:hover .second-arrow{
  display: block;
}

.service-box:hover{
  box-shadow: 0px 0px 20px rgba(215, 215, 215, 0.25);
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/font/PlusJakartaText-Light.otf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/font/PlusJakartaText-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/font/PlusJakartaDisplay-Medium.otf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/font/PlusJakartaText-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
}